function Player.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push constant 11
call Array.new 1
pop this 0
push constant 4
call Array.new 1
pop this 1
push pointer 0
call Player.deal 1
pop temp 0
push pointer 0
return
function Player.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Player.getBlackJack 0
push argument 0
pop pointer 0
push this 3
return
function Player.getHand 0
push argument 0
pop pointer 0
push this 0
return
function Player.fixRoyals 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 11
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
pop pointer 1
push that 0
push constant 12
eq
push local 0
push this 0
add
pop pointer 1
push that 0
push constant 13
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push this 0
add
push constant 10
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Player.deal 0
push argument 0
pop pointer 0
push pointer 0
call Player.addCard 1
pop temp 0
push pointer 0
call Player.addCard 1
pop temp 0
push constant 0
push this 0
add
pop pointer 1
push that 0
push constant 1
eq
push constant 1
push this 0
add
pop pointer 1
push that 0
and
push constant 10
eq
push constant 0
push this 0
add
pop pointer 1
push that 0
push constant 10
eq
push constant 1
push this 0
add
pop pointer 1
push that 0
and
push constant 1
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
pop this 3
label IF_FALSE0
push constant 0
return
function Player.addCard 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 11
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
pop pointer 1
push that 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push this 0
add
push constant 12
call Random.randRange 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 0
add
pop pointer 1
push that 0
push constant 10
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Player.fixRoyals 1
pop temp 0
label IF_FALSE1
push constant 11
pop local 0
goto IF_END0
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
label IF_END0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Player.getScore 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 11
lt
not
if-goto WHILE_END0
push this 2
push local 0
push this 0
add
pop pointer 1
push that 0
add
pop this 2
push local 0
push this 0
add
pop pointer 1
push that 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 11
add
pop local 0
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 2
return
function Player.aceFix 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
push this 2
push constant 11
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
label WHILE_EXP0
push local 0
push constant 11
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
pop pointer 1
push that 0
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push this 0
add
push constant 11
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push this 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
push pointer 0
call Player.getScore 1
pop this 2
label IF_FALSE1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
label IF_FALSE0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push local 1
lt
not
if-goto WHILE_END1
push this 2
push constant 21
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push this 1
add
pop pointer 1
push that 0
push this 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
call Player.getScore 1
pop this 2
label IF_FALSE2
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
